.c1{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    /* left: 200px; */
    /* top: 40px; */

    display: inline-block;
}

.c2{
    height: 100px;
    width: 100px;
    background-color: blue;  

    display: inline-block;

    position: relative;
    right: 20px;
}

.c3{
    height: 100px;
    width: 100px;
    background-color: yellow;  

    display: inline-block;

    position: relative;
    right: 60px;
}