/* ************* TAG SELECTORS ***************** */

h1 {
    color: red;
    font-size: 90px;
}

/* img {
    background-color: red;
} */

/*  psuedo-class "hover" */

img:hover {
    background-color: gold;
}


/* ************* CLASS SELECTORS ***************** */

.bb1 {
    background-color: green;
}

.bb2 {
    background-color: red;
}

.c1 {
    border-radius: 100%;
}

/* ************* ID SELECTORS ***************** */

#head {
    color: blue;
}